<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/styles/general.css">
    <link rel = "stylesheet" href = "/styles/productsStyles.css">
    <title>Productos | Mercadona</title>
</head>
<body>
    <div class="container">
        <%- include ("partials/navbar") %>
        <div class="homeProducts">
            <div class="panelOptions">
                <a href="productos/nuevo">Añadir producto</a>
            </div>

            <div class="containerProducts">
                <% for (product of products) { %>
                    <div class="product">
                        <a href="/productos/<%= product.name.toLowerCase() %>"><%= product.name %></a>
                        <img src="<%= product.photo_url %>">
                        <form method="GET" action="/productos/<%= product.id %>/delete">
                            <button type="submit">Eliminar</button>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
        </div>
    </div>
</body>
</html>